@font-face {
  font-family: friendss;
  src: url(./GABRWFFR.TTF);
}

body {
  margin: 0;
  font-family: friendss, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  /* overflow: hidden; */
  box-sizing: border-box;
}

code {
  font-family: friendss, "Courier New", monospace;
}
